<div class="footer">Desenvolvido por Manoel Carvalho</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=up6xhs4g5zqfp1lz7yg8vbgrdgqd1ibjwcgwbrbo5ax66bsn"></script>
<script>tinymce.init({ 
  selector:'textarea',
  menubar: false,
  toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent'
  });</script>
</body>

</html>